p{
    font-family: serif;
    line-height: 1.75em;
}

i{
    font-family: sans-serif;
    color: orange;

}
h2{
    font-family: sans-serif;
    color: #333333;
}

/* cara memasukan code CSS dari berkas eksternal
Menggunakan tag <link>
<link rel="stylesheet" type="text/css" href="style.css">

atau menggunakan @import
<style type="text/css">
@import "style.css";
</style>
*/ 
